@import '~antd/dist/antd.css';

::-webkit-scrollbar {width:5px;height:5px;position:absolute;}
::-webkit-scrollbar-thumb {background-color:#1890ff}
::-webkit-scrollbar-track {background-color:#ddd}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #ffffff;
    z-index: 1000;
}
.ant-menu .ant-menu-root .ant-menu-inline .ant-menu-dark{
    background-color: #ffffff;
    z-index: 1000;
} 

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #ffffff;
}
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span{
    color: #e51a14;
    font-weight: bold;
}
    